alias t=task

# GIT
alias g="git"
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias gd="git diff HEAD"

alias ls="ls -F"

alias youtube-playlist="youtube-dl -x -f bestaudio -o \"%(playlist_index)s - %(title)s.%(ext)s\""
alias emacs="TERM=xterm-256color emacs"
#alias audacity="QT_SCALE_FACTOR=2 audacity"
#alias xournalpp="GDK_SCALE=2 GDK_DPI_SCALE=0.5 xournalpp"
alias hotspot="sudo create_ap -n --ieee80211n --ieee80211ac --freq-band 5 wlan0 ИНОАГЕНТ blagodat"
