alias t=task

# GIT
alias g="git"
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias gd="git diff HEAD"

alias ls="ls -F"
alias lt="ls -ctr | tail -n 5"

alias youtube-playlist="youtube-dl -x -f bestaudio -o \"%(playlist_index)s - %(title)s.%(ext)s\""
alias youtube-cover="youtube-dl --write-thumbnail --playlist-items 1 --skip-download -o \"cover.%(ext)s\""
alias emacs="TERM=xterm-256color emacs"
#alias audacity="QT_SCALE_FACTOR=2 audacity"
#alias xournalpp="GDK_SCALE=2 GDK_DPI_SCALE=0.5 xournalpp"
alias hotspot="sudo create_ap -n --ieee80211n --ieee80211ac wlan0 ИНОАГЕНТ blagodat"
alias cairpods="echo -e \"connect D0:65:44:5F:AB:C2\" | bluetoothctl && sleep 5 && pactl set-default-sink bluez_output.D0_65_44_5F_AB_C2.a2dp-sink"
alias dairpods="echo -e \"disconnect D0:65:44:5F:AB:C2\" | bluetoothctl"
